<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>41/communicate/lxt_oracle.properties</value>
				<value>41/communicate/communicate.properties</value>
				<value>41/communicate/mmsg.properties</value>
			</list>
		</property>
	</bean>
	<import resource="lxt_node.xml"/>
	<import resource="communicate/common/mtp_opphase.xml"/>
	<import resource="communicate/common/lxt_dbcp.xml"/>
	<import resource="communicate/common/lxt_oracle.xml"/>
	<import resource="communicate/common/hub.xml"/>
	<import resource="communicate/common/lxt_clientinfo.xml"/>
	<import resource="communicate/common/mts_common.xml"/>
	<import resource="communicate/common/resource_center.xml"/>
	
	<!-- begin -->
	<import resource="communicate/proxyservice/ps_productverify.xml"/>	
	<import resource="communicate/proxyservice/ps_common.xml"/>
	
	<import resource="communicate/proxyservice/1041_ps_toexamine.xml"/>
	<import resource="communicate/proxyservice/1041_mod.xml"/>
	<import resource="communicate/proxyservice/1041_ps.xml"/>
	<import resource="communicate/proxyservice/1041_cbip_socket.xml"/>
	
	<import resource="communicate/proxyservice/1641_mod.xml"/>
	<import resource="communicate/proxyservice/1641_ps.xml"/>
	<import resource="communicate/proxyservice/1641_csa_socket.xml"/>
	
	<import resource="communicate/mtprocess/mtp_specialmobile.xml"/>
	<import resource="communicate/mtprocess/mtp_phase.xml"/>
	<import resource="communicate/mtprocess/mtp_mod_1141.xml"/>
	<import resource="communicate/mtprocess/mtp_1141.xml"/>
	<import resource="communicate/mtprocess/mtp_router.xml"/>
	<import resource="communicate/mtprocess/mtp_blacklist.xml"/>
	<!-- <import resource="communicate/mtprocess/mtp_blacklist_gw.xml"/>  -->
	<import resource="communicate/mtprocess/mtp_blacklist_share.xml"/>
	<import resource="communicate/mtprocess/mtp_blacklistMMS.xml"/>
	<import resource="communicate/mtprocess/mtp_keyword.xml"/>
	<import resource="communicate/mtprocess/mtp_keyword_gw.xml" />
	<import resource="communicate/mtprocess/mtp_duplicatefilter.xml" />

 	<import resource="communicate/moprocess/mop_mod_1441.xml"/>
	<import resource="communicate/moprocess/mop_1441.xml"/>
	<import resource="communicate/moprocess/mop_router.xml"/>

	<import resource="communicate/rptprocess/rpt_mod_1341.xml"/> 
<!-- 	<import resource="communicate/mclumped/Clumped_Mod_1541.xml"/> -->
	
	<import resource="communicate/mclumped/Clumped_Mod_1541.xml"/>
	<import resource="communicate/mclumped/Clumped_config_1541.xml"/>
	
	
	
	<import resource="communicate/common/mime_context.xml" />
	<import resource="communicate/common/lxt_ecinfo.xml" />
	
	<!--import resource="communicate/clumped/Clumped_Mod_1541.xml"-->
	<import resource="communicate/clumped/Systemconfig_Oper.xml" />

</beans>
